<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>860714740476-23q493795vh8h4gjnklj3qg43t4q5nsh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860714740476-23q493795vh8h4gjnklj3qg43t4q5nsh</string>
	<key>API_KEY</key>
	<string>AIzaSyBUOFlSKJiwgqPATLcWtNQMa60nETpWNmA</string>
	<key>GCM_SENDER_ID</key>
	<string>860714740476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NyxentCorp.See-It-Pronto</string>
	<key>PROJECT_ID</key>
	<string>pronto-bafdf</string>
	<key>STORAGE_BUCKET</key>
	<string>pronto-bafdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:860714740476:ios:ca5eb56a1a0a648a</string>
	<key>DATABASE_URL</key>
	<string>https://pronto-bafdf.firebaseio.com</string>
</dict>
</plist>